<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticketac - Results</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/88160492ca.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('navbar'); %>
        <div class="container-fluid h-100 result">
            <div class="col-10">
                <div class="col-5 text-center mb-3">
                    <h4>My tickets :</h4>
                </div>
                <div class="col-12">
                    <table class="table table-borderless table-light">
                        <thead>
                            <tr>
                                <th scope="col">N°</th>
                                <th scope="col">Journey</th>
                                <th scope="col">Date</th>
                                <th scope="col">Departure time</th>
                                <th scope="col">Price</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% var total=0;
                            for(var i = 0; i< basket.length ; i++){ %>
                                <tr>
                                    <th scope="row" name="position"><%=i+1%></th>
                                    <td>
                                        <%=basket[i].departure%>/<%=basket[i].arrival%>
                                    </td>
                                    <td>
                                        <%=dateFormat(basket[i].date)%>
                                    </td>
                                    <td>
                                        <%=basket[i].departureTime%>
                                    </td>
                                    <td>
                                        <%=basket[i].price%>€
                                    </td>
                                    <td><a href="/delete?position=<%=i%>" class="btn btn-outline-info" name="button"><i class="far fa-trash-alt"></i></a>
                                    </td>

                                </tr>
                                <% total += basket[i].price } %>

                            <tr class="table-danger">
                                <th scope="row">Total</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <%=total %>€
                               </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-10 btn-confirm">
                <a href="/" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                    type="button">Confirm</a>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Mes voyages...</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <%for(var i = 0; i< basket.length ; i++){ %>

                        <div class="modal-body">
                            
                                <%=basket[i].departure%>/<%=basket[i].arrival%>
                                <%=dateFormat(basket[i].date)%>
                                <%=basket[i].departureTime%>
                                <%=basket[i].price%>€

                        </div>
                        <% } %>

                        <div class="modal-footer">
                            <a href="/validation-basket" type="button" class="btn btn-primary">Home</a>
                            <a href="/"class="btn btn-danger" data-bs-dismiss="modal">Payment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

</body>
<%- include('footer'); %>

</html>